<template>
  <el-form ref="form" :model="userData" :rules="rules" label-position="top">
    <el-alert
      title="Блок всегда скрыт от публичного доступа"
      type="info"
      :closable="false"
      show-icon
    ></el-alert>
    <h2>Паспортные данные</h2>
    <el-row :gutter="30">
      <el-col :span="6">
        <el-form-item label="Фамилия" prop="lastName">
          <el-input
            v-model="userData.lastName"
            placeholder="Фимилия"
          ></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="6">
        <el-form-item label="Имя" prop="firstName">
          <el-input v-model="userData.firstName" placeholder="Имя"></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="6">
        <el-form-item label="Отчество" prop="middleName">
          <el-input
            v-model="userData.middleName"
            placeholder="Отчество"
          ></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="6">
        <el-form-item label="Дата рождения" prop="birthYear">
          <el-date-picker
            v-model="userData.birthYear"
            :picker-options="pickerOptions"
            type="date"
            placeholder="Дата рождения"
            style="width: 100%"
          ></el-date-picker>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row :gutter="30">
      <el-col :span="8">
        <el-form-item label="Гражданство" prop="citizenship">
          <el-input
            v-model="userData.citizenship"
            placeholder="Гражданство"
          ></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="8">
        <el-form-item label="Семейное положение" prop="marital">
          <el-select
            v-model="userData.marital"
            placeholder="Семейное положение"
            style="width: 100%"
          >
            <el-option
              v-for="type in maritalTypes"
              :key="type"
              :label="type"
              :value="type"
            ></el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="8">
        <el-form-item label="Дети">
          <el-input v-model="userData.childs" placeholder="Дети"></el-input>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row :gutter="30">
      <el-col :span="8">
        <el-form-item label="Серия и номер" prop="passportNumber">
          <el-input
            v-model="userData.passportNumber"
            placeholder="Серия и номер"
          ></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="8">
        <el-form-item label="Код подразделения" prop="passportCode">
          <el-input
            v-model="userData.passportCode"
            placeholder="Код подразделения"
          ></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="8">
        <el-form-item label="Дата выдачи" prop="passportDate">
          <el-date-picker
            v-model="userData.passportDate"
            :picker-options="pickerOptions"
            type="date"
            placeholder="Дата выдачи"
            style="width: 100%"
          ></el-date-picker>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row :gutter="30">
      <el-col :span="12">
        <el-form-item label="Кем выдан" prop="passportInfo">
          <el-input
            type="textarea"
            :autosize="{ minRows: 2, maxRows: 4 }"
            placeholder="Кем выдан"
            v-model="userData.passportInfo"
          ></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item label="Адрес прописки" prop="passportAddress">
          <el-input
            type="textarea"
            :autosize="{ minRows: 2, maxRows: 4 }"
            placeholder="Адрес прописки"
            v-model="userData.passportAddress"
          ></el-input>
        </el-form-item>
      </el-col>
    </el-row>
    <el-divider></el-divider>
    <h2>Общие данные</h2>
    <el-row :gutter="30">
      <el-col :span="6">
        <el-form-item label="Личный ИНН" prop="userINN">
          <el-input
            v-model="userData.userINN"
            placeholder="Личный ИНН"
          ></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="6">
        <el-form-item label="Место работы" prop="workPlace">
          <el-input
            v-model="userData.workPlace"
            placeholder="Место работы"
          ></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="6">
        <el-form-item label="Должность" prop="position">
          <el-input
            v-model="userData.position"
            placeholder="Должность"
          ></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="6">
        <el-form-item label="Доход">
          <el-input-number
            v-model="userData.workSumma"
            controls-position="right"
            :step="1000"
            :min="10000"
            :max="1000000000"
            style="width: 100%"
          ></el-input-number>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row :gutter="30">
      <el-col :span="12">
        <el-form-item label="Фактический адрес проживания" prop="userAddress">
          <el-input
            type="textarea"
            :autosize="{ minRows: 2, maxRows: 4 }"
            placeholder="Фактический адрес проживания"
            v-model="userData.userAddress"
          ></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item label="Страницы в соцсетях" prop="socials">
          <el-input
            type="textarea"
            :autosize="{ minRows: 2, maxRows: 4 }"
            placeholder="Страницы в соцсетях"
            v-model="userData.socials"
          ></el-input>
        </el-form-item>
      </el-col>
    </el-row>
    <el-divider></el-divider>
    <el-row type="flex" justify="space-between">
      <el-button size="small" @click="$emit('submit', 'loanData')"
        >Назад</el-button
      >
      <el-button type="primary" size="small" @click="submitForm"
        >Далее</el-button
      >
    </el-row>
  </el-form>
</template>

<script>
export default {
  data: () => ({
    pickerOptions: {
      disabledDate(time) {
        return time.getTime() > Date.now()
      }
    },
    maritalTypes: [
      'Состою в браке',
      'Состою в гражданском браке',
      'Холост/Не замужем'
    ],
    userData: {
      firstName: '',
      middleName: '',
      lastName: '',
      birthYear: '',
      citizenship: '',
      marital: '',
      childs: '',
      passportDate: '',
      passportCode: '',
      passportNumber: '',
      passportInfo: '',
      passportAddress: '',
      userINN: '',
      workPlace: '',
      workSumma: '',
      position: '',
      userAddress: '',
      socials: ''
    },
    rules: {
      firstName: [
        {
          required: true,
          message: 'Пожалуйста укажите имя',
          trigger: 'blur'
        }
      ],
      middleName: [
        {
          required: true,
          message: 'Пожалуйста укажите отчество',
          trigger: 'blur'
        }
      ],
      lastName: [
        {
          required: true,
          message: 'Пожалуйста укажите фамилию',
          trigger: 'blur'
        }
      ],
      birthYear: [
        {
          type: 'date',
          required: true,
          message: 'Пожалуйста укажите дату рождения',
          trigger: 'change'
        }
      ],
      citizenship: [
        {
          required: true,
          message: 'Пожалуйста укажите гражданство',
          trigger: 'blur'
        }
      ],
      marital: [
        {
          required: true,
          message: 'Пожалуйста укажите семейное положение',
          trigger: 'change'
        }
      ],
      passportDate: [
        {
          type: 'date',
          required: true,
          message: 'Пожалуйста укажите дату выдачи паспорта',
          trigger: 'change'
        }
      ],
      passportCode: [
        {
          required: true,
          message: 'Пожалуйста укажите код подразделения',
          trigger: 'change'
        }
      ],
      passportNumber: [
        {
          required: true,
          message: 'Пожалуйста укажите серию и номер паспорта',
          trigger: 'change'
        }
      ],
      passportInfo: [
        {
          required: true,
          message: 'Пожалуйста укажите кем выдан паспорт',
          trigger: 'change'
        }
      ],
      passportAddress: [
        {
          required: true,
          message: 'Пожалуйста укажите адрес вашей прописки',
          trigger: 'change'
        }
      ],
      userINN: [
        {
          required: true,
          message: 'Пожалуйста укажите ваш ИНН',
          trigger: 'blur'
        }
      ],
      workPlace: [
        {
          required: true,
          message: 'Пожалуйста укажите ваше место работы',
          trigger: 'blur'
        }
      ],
      position: [
        {
          required: true,
          message: 'Пожалуйста укажите вашу должность',
          trigger: 'blur'
        }
      ],
      userAddress: [
        {
          required: true,
          message: 'Пожалуйста укажите ваш адрес проживания',
          trigger: 'blur'
        }
      ]
    }
  }),
  methods: {
    submitForm() {
      this.$refs.form.validate(valid => {
        if (valid) {
          this.$emit('submit', 'documentsData')
        } else {
          return false
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
h2 {
  font-size: 18px;
  font-weight: 500;
}
</style>
