<template>
  <el-form ref="form" :model="documentsData" label-position="top">
    <el-card shadow="never" class="el-card_history">
      <div slot="header">
        <span
          >Привлеките внимание инвесторов, прикрепив ваш кредитный отчет!</span
        >
        <el-button plain @click="dialogVisible = true"
          >Получить кредитную историю</el-button
        >
      </div>
      <div class="el-card-file__left">
        <i class="el-icon-document"></i>
        <p>Кредитная история</p>
      </div>
      <el-upload
        v-if="!kreditHistory"
        class="el-card-file__upload"
        action="https://jsonplaceholder.typicode.com/posts/"
        :show-file-list="false"
        :before-upload="() => (kreditHistory = true)"
      >
        <el-button type="success">Загрузить кредитный отчет</el-button>
      </el-upload>
      <el-button
        v-else
        type="danger"
        icon="el-icon-close"
        circle
        @click="kreditHistory = false"
      ></el-button>
    </el-card>
    <el-card
      v-for="({ id, label, status }, index) in fileList"
      :key="id"
      shadow="never"
      class="el-card-file"
    >
      <div class="el-card-file__left">
        <i :class="{ loaded: status }" class="el-icon-document"></i>
        <p>{{ label }}</p>
      </div>
      <el-upload
        v-if="!status"
        class="el-card-file__upload"
        action="https://jsonplaceholder.typicode.com/posts/"
        :show-file-list="false"
        :before-upload="() => (fileList[index].status = true)"
      >
        <el-button type="primary">Загрузить файл</el-button>
      </el-upload>
      <el-button
        v-else
        type="danger"
        icon="el-icon-close"
        circle
        @click="fileList[index].status = false"
      ></el-button>
    </el-card>
    <el-dialog
      title="Получение кредитной истории"
      :visible.sync="dialogVisible"
      width="60%"
    >
      <p>
        Вы можете получить отчет по&nbsp;кредитной истории, воспользовавшись
        одним из&nbsp;вариантов в&nbsp;списке:
      </p>
      <el-collapse accordion>
        <el-collapse-item
          title="Агенство кредитной информации - 450 руб."
          name="3"
        >
          <ol>
            <li>
              Зарегистироваться на&nbsp;сайте агенства по&nbsp;ссылке
              <a href="https://www.akrin.ru/BPSWeb/registration"
                >https://www.akrin.ru/BPSWeb/registration</a
              >
            </li>
            <li>
              Активировать свою учетную запись. Активация&nbsp;&mdash; это
              разовая процедура, которая служит для подтверждения вашей
              личности.
            </li>
            <li>
              Пополнить счет в&nbsp;личном кабинете сервиса и&nbsp;заказать
              услугу на получение кредитного отчета
            </li>
          </ol>
        </el-collapse-item>
        <el-collapse-item title="Объединенное кредитное бюро" name="2">
          <ol>
            <li>
              Войти или зарегистироваться на&nbsp;сайте ОКБ
              <a href="https://ucbreport.ru/account/signin"
                >https://ucbreport.ru/account/signin</a
              >. Также можно авторизоваться через портал Госуслуг или Сбербанка.
            </li>
            <li>
              После успешной регистрации на&nbsp;сервисе нужноо подтвердить свою
              личность, слудуя инструкциям в&nbsp;личном кабинете. Процесс
              прохождения проверки зависит от&nbsp;способа регистрации
              на&nbsp;сайте.
            </li>
            <li>
              При успешном подтверждении учетной записи можно оставить заявку на
              получение кредитного отчета, следуя инструкциям на&nbsp;сервисе.
            </li>
          </ol>
        </el-collapse-item>
        <el-collapse-item
          title="НБКИ - с помощью идентификации через портал госуслуг"
          name="1"
        >
          <ol>
            <li>
              <strong>
                Кредитный отчет предоставляется только при наличии
                подтвержденной учетной записи на&nbsp;портале Госуслуг.
              </strong>
            </li>
            <li>
              Чтобы узнать, подтверждена&nbsp;ли учетная запись, вам необходимо
              зайти на&nbsp;сайт
              <a href="https://lk.gosuslugi.ru/info"
                >https://lk.gosuslugi.ru/info</a
              >
              и&nbsp;ввести свои имя и&nbsp;пароль.
            </li>
            <li>
              Откроется страница, в&nbsp;правой части которой указан статус
              учетной записи (
              <a
                href="https://www.nbki.ru/images/gosusligiexample.png"
                target="_blank"
                >пример страницы</a
              >)
            </li>
            <li>
              Если учетная запись не&nbsp;подтверждена, то&nbsp;для получения
              кредитной истории ее&nbsp;необходимо подтвердить
              в&nbsp;соответствии с&nbsp;порядком, указанным на&nbsp;сайте
              <a href="https://www.gosuslugi.ru/help/faq/c-1">Госуслуг</a>
            </li>
            <li>
              Если учетная запись на&nbsp;портале Госуслуг подтверждена,
              то&nbsp;для запроса необходимо зайти на&nbsp;сайт НБКИ
              по&nbsp;ссылке
              <a href="https://person.nbki.ru">https://person.nbki.ru</a> и
              следовать инструкциям
            </li>
            <li>
              Если вы&nbsp;исчерпали свои бесплатные запросы (2&nbsp;запроса
              в&nbsp;рамках 365 (366) дней), вы&nbsp;будете перенаправлены
              на&nbsp;сайт сервиса Робокасса для платежа (доступны все
              банковские карты, кошельки, мобильные счета и&nbsp;т.д.). После
              оплаты необходимо вернуться на&nbsp;сайт
              АО&nbsp;&laquo;НБКИ&raquo; для получения отчета.
            </li>
          </ol>
        </el-collapse-item>
      </el-collapse>
    </el-dialog>
  </el-form>
</template>

<script>
export default {
  data: () => ({
    dialogVisible: false,
    kreditHistory: false,
    fileList: [
      {
        id: 1,
        label: 'Справка 2-НДФЛ',
        status: false
      },
      {
        id: 2,
        label: 'Фотография/скан СНИЛС или водительских прав',
        status: false
      },
      {
        id: 3,
        label: 'Ваша фотография',
        status: false
      }
    ],
    documentsData: {}
  })
}
</script>

<style lang="scss">
.el-form-item__content {
  line-height: 1.42;
}

.el-icon-document {
  padding: 10px;
  border: 1px solid;
  font-size: 28px;
  border-radius: 50%;
  margin-right: 15px;

  &.loaded {
    color: #67c23a;
  }
}

.el-form {
  margin: 0px 20px 20px;

  .el-card {
    &_history {
      border: 1px solid #67c23a !important;
    }

    &__body {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 20px;

      p {
        font-size: 14px;
        margin: 0;
      }
    }

    &__header {
      background: #67c23a;
      color: #fff;

      div {
        display: flex;
        align-items: center;
        justify-content: space-between;

        > span {
          font-weight: 500;
          font-size: 16px;
        }
      }
    }
  }
}

.el-card-file {
  border: none !important;
  border-bottom: 1px solid #dcdfe6 !important;

  &__left {
    display: flex;
    align-items: center;
  }

  &__upload {
    display: flex;
    align-items: center;
  }
}

.el-dialog__body {
  word-break: normal;
}

ol {
  padding-left: 20px;
  margin: 0;
}
</style>
