<template>
  <el-form ref="form" :model="loanData" :rules="rules" label-position="top">
    <el-form-item label="Выберите город" prop="city">
      <el-select
        v-model="loanData.city"
        filterable
        placeholder="Город"
        style="width: 100%"
      >
        <el-option-group
          v-for="group in options"
          :key="group.label"
          :label="group.label"
        >
          <el-option
            v-for="item in group.options"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          ></el-option>
        </el-option-group>
      </el-select>
    </el-form-item>
    <el-form-item label="Вид финансирования" prop="financingType">
      <el-radio-group v-model="loanData.financingType">
        <el-radio
          v-for="(type, id) in financingTypes"
          :key="id"
          :label="type.label"
        >
          <span>{{ type.label }}</span>
          <el-tooltip effect="dark" :content="type.caption" placement="top">
            <i class="el-icon-info"></i>
          </el-tooltip>
        </el-radio>
      </el-radio-group>
    </el-form-item>
    <el-row :gutter="30">
      <el-col :span="6">
        <el-form-item label="Сумма, ₽" prop="summa">
          <el-input-number
            v-model="loanData.summa"
            controls-position="right"
            :step="100000"
            :min="100000"
            :max="1000000000"
            style="width: 100%"
          ></el-input-number>
        </el-form-item>
      </el-col>
      <el-col :span="6">
        <el-form-item label="Ставка, % в год" prop="percent">
          <el-input-number
            v-model="loanData.percent"
            controls-position="right"
            :step="1"
            :min="5"
            :max="17"
            style="width: 100%"
          ></el-input-number>
        </el-form-item>
      </el-col>
      <el-col :span="6">
        <el-form-item label="Срок, лет" prop="years">
          <el-input-number
            v-model="loanData.years"
            controls-position="right"
            :step="1"
            :min="1"
            :max="30"
            style="width: 100%"
          ></el-input-number>
        </el-form-item>
      </el-col>
      <el-col :span="6">
        <el-form-item label="Пол заемщика" prop="gender">
          <el-select
            v-model="loanData.gender"
            placeholder="Пол заемщика"
            style="width: 100%"
          >
            <el-option label="муж" value="муж"></el-option>
            <el-option label="жен" value="жен"></el-option>
          </el-select>
        </el-form-item>
      </el-col>
    </el-row>
    <el-form-item label="Зарплатный проект" prop="project">
      <el-input
        v-model="loanData.project"
        placeholder="Зарплатный проект"
      ></el-input>
    </el-form-item>
    <el-form-item label="Обеспечение займа" prop="security">
      <el-checkbox-group v-model="loanData.security">
        <el-checkbox
          v-for="(type, id) in securityTypes"
          :label="type.label"
          :key="id"
        >
          <span>{{ type.label }}</span>
          <el-tooltip effect="dark" :content="type.caption" placement="top">
            <i class="el-icon-info"></i>
          </el-tooltip>
        </el-checkbox>
      </el-checkbox-group>
    </el-form-item>
    <el-form-item label="Цель получения средств" prop="target">
      <el-checkbox-group v-model="loanData.target">
        <el-checkbox
          v-for="target in loanTargets"
          :label="target"
          :key="target"
        >
          <span>{{ target }}</span>
        </el-checkbox>
      </el-checkbox-group>
    </el-form-item>
    <el-form-item label="Описание заявки" prop="description">
      <el-input
        type="textarea"
        :autosize="{ minRows: 2, maxRows: 4 }"
        placeholder="Опишите заявку"
        v-model="loanData.description"
      ></el-input>
    </el-form-item>
    <el-divider></el-divider>
    <el-row type="flex" justify="end">
      <el-button type="primary" size="small" @click="submitForm"
        >Далее</el-button
      >
    </el-row>
  </el-form>
</template>

<script>
export default {
  data: () => ({
    options: [
      {
        label: 'Популярные города:',
        options: [
          {
            value: 'piter',
            label: 'Санкт-Петербург'
          },
          {
            value: 'moskow',
            label: 'Москва'
          }
        ]
      },
      {
        label: 'Города:',
        options: [
          {
            value: 'irkutsk',
            label: 'Иркутск'
          },
          {
            value: 'novosibirsk',
            label: 'Новосибирск'
          },
          {
            value: 'krasnoyarsk',
            label: 'Красноярск'
          },
          {
            value: 'ekaterinburg',
            label: 'Екатеринбург'
          }
        ]
      }
    ],
    financingTypes: [
      {
        label: 'Микрозайм',
        caption:
          'Быстрый заём, на срок до 90 дней, проценты начисляют ежедневно'
      },
      {
        label: 'Кредит',
        caption:
          'Деньги, которые даёт организация с лицензией ЦБ РФ под определённые проценты и на фиксированный срок'
      },
      {
        label: 'Заём',
        caption:
          'Деньги, которые даёт в долг физлицо или организация, не являющаяся кредитной'
      },
      {
        label: 'Ипотека',
        caption:
          'Долгосрочный целевой кредит под залог приобретаемой недвижимости'
      }
    ],
    securityTypes: [
      {
        label: 'Поручительство физ. лица',
        caption:
          'Стороннее лицо, готовое нести ответственность по вашим обязательствам'
      },
      {
        label: 'Поручительство юр. лица',
        caption:
          'Стороннее юридическое лицо, готовое нести ответственность по вашим обязательствам'
      },
      {
        label: 'Недвижимость',
        caption:
          'Жилая, нежилая, объекты незавершённого строительства, земельные участки, имеющие регистрационное свидетельство'
      },
      {
        label: 'Транспорт',
        caption:
          'Имеет ПТС (паспорт транспортного средства) или спецтехника с ПСМ (паспорт самоходной машины)'
      },
      {
        label: 'Другой залог',
        caption:
          'Имущество, которое может служить обеспечением (оборудование, доля в компании, предметы роскоши, ценные бумаги, патенты и т.д.)'
      },
      {
        label: 'Без обеспечения',
        caption: 'Деньги, предоставленные без залога или поручительства'
      }
    ],
    loanTargets: [
      'Неотложные нужды',
      'Покупка авто',
      'Покупка недвижимости',
      'Строительство недвижимости',
      'Рефинансирование',
      'Развитие бизнеса',
      'Ремонт',
      'Лечение',
      'Учеба',
      'Путешествие',
      'Другое'
    ],
    loanData: {
      city: '',
      financingType: 'Заём',
      summa: 500000,
      percent: 11,
      years: 1,
      gender: 'муж',
      project: '',
      security: [],
      target: [],
      description: ''
    },
    rules: {
      city: [
        {
          required: true,
          message: 'Пожалуйста выберите город',
          trigger: 'change'
        }
      ],
      financingType: [
        {
          required: true,
          message: 'Пожалуйста выберите тип финансирования',
          trigger: 'change'
        }
      ],
      summa: [
        {
          required: true,
          message: 'Пожалуйста укажите сумму',
          trigger: 'blur'
        }
      ],
      percent: [
        {
          required: true,
          message: 'Пожалуйста укажите ставку',
          trigger: 'blur'
        }
      ],
      years: [
        {
          required: true,
          message: 'Пожалуйста укажите желаемый срок',
          trigger: 'blur'
        }
      ],
      gender: [
        {
          required: true,
          message: 'Пожалуйста выберите пол',
          trigger: 'change'
        }
      ],
      project: [
        {
          required: true,
          message: 'Пожалуйста укажите зарплатный проект',
          trigger: 'blur'
        }
      ],
      security: [
        {
          required: true,
          message: 'Пожалуйста укажите типы обеспечения',
          trigger: 'change'
        }
      ],
      target: [
        {
          required: true,
          message: 'Пожалуйста укажите цель получения средств',
          trigger: 'change'
        }
      ],
      description: [
        {
          required: true,
          message: 'Пожалуйста заполните описание заявки',
          trigger: 'change'
        }
      ]
    }
  }),
  methods: {
    submitForm() {
      this.$refs.form.validate(valid => {
        if (valid) {
          this.$emit('submit', 'userData')
        } else {
          return false
        }
      })
    }
  }
}
</script>
