<template>
  <div id="app">
    <el-container>
      <el-main>
        <h1 style="margin-top: 0">Создание заявки на привлечение средств</h1>
        <el-card shadow="never">
          <el-progress
            :percentage="loanProgress"
            :show-text="false"
          ></el-progress>
        </el-card>

        <el-tabs
          v-model="activeName"
          type="border-card"
          style="box-shadow: none; margin-top: -1px"
        >
          <el-tab-pane label="Основная информация" name="loanData" lazy>
            <form-loan-data @submit="selectTabPane" />
          </el-tab-pane>
          <el-tab-pane label="Персональные данные" name="userData" lazy>
            <form-user-data @submit="selectTabPane" />
          </el-tab-pane>
          <el-tab-pane label="Документы" name="documentsData" lazy>
            <form-documents-data @submit="selectTabPane" />
          </el-tab-pane>
        </el-tabs>
      </el-main>
    </el-container>
  </div>
</template>

<script>
import FormLoanData from './components/FormLoanData'
import FormUserData from './components/FormUserData'
import FormDocumentsData from './components/FormDocumentsData'

export default {
  components: { FormLoanData, FormUserData, FormDocumentsData },
  data: () => ({
    loanProgress: 5,
    activeName: 'loanData'
  }),
  methods: {
    selectTabPane(name) {
      this.activeName = name
    }
  }
}
</script>

<style lang="scss">
* {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

.el-card {
  border: 1px solid #dcdfe6;
  border-radius: 0px;

  .el-tabs + & {
    margin-top: -1px;
  }
}

.el-icon-info {
  margin-left: 4px;
}

.el-tooltip__popper {
  max-width: 200px;
}
</style>
